<section class="h-600" style="background-color: #eee;">
  <div class="container py-5 h-600">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <form #instituteForm='ngForm' (ngSubmit)="onSubmitInstitute(instituteForm.value)">
              <div class="row g-0">
                <div class="col-lg-6" style="background-color: #B3C1DD;">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" >General Infomation</h3>
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" style="font-size: 20px; font-weight: bold;"
                          for="form3Examplev2">Institute Code</label>
                        <input type="number" pattern="^[0-9]{4,6}$" [(ngModel)]="institute.code" #icode='ngModel' name="code"
                          placeholder="Enter institute code" required id="form3Examplev2"
                          class="form-control form-control-lg" />

                        <div *ngIf='icode.errors
                        && icode.touched' class="alert alert-danger">
                          <div *ngIf='icode.errors.required'>Provide Institute code </div>
                          <div *ngIf='icode.errors.pattern'>Code Length should be minimum 4 and maximum 6</div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <label style="font-size: 20px; font-weight: bold;">Category</label>
                      <select class="select" required name="category" [(ngModel)]="institute.category"
                        class="form-control form-control-lg">
                        <option value="" selected>--Select Option--</option>
                        <option value="Goverment">Goverment</option>
                        <option value="Private">Private</option>
                        <option value="Autonomus">Autonomus</option>
                      </select>
                    </div>
                    <div class="mb-4 pb-2">
                      <label style="font-size: 20px; font-weight: bold;">Stream</label>
                      <select required name="Stream" [(ngModel)]="institute.type" class="form-control"
                        class="form-control form-control-lg">
                        <option value="" selected>--Select Option--</option>
                        <option value="Medical">Medical</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Law">Law</option>
                        <option value="Pre-matric">Pre-matric</option>
                        <option value="MCA">MCA</option>
                      </select>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev4"
                          style="font-size: 20px; font-weight: bold;">Institute Name</label>
                        <input type="text" [(ngModel)]="institute.name" minlength="3" pattern="[a-zA-Z ]*"
                          #Inname='ngModel' class="form-control form-control-lg" name="Institutename"
                          placeholder="Enter institute name" required />
                        <div *ngIf='Inname.errors
                      && Inname.touched' class="alert alert-danger">

                          <div *ngIf='Inname.errors.required'>Provide Institute Name </div>
                          <div *ngIf="Inname.errors?.minlength">
                            Institute must be at least 3 characters long.
                          </div>
                          <div *ngIf='Inname.errors?.pattern'>Institute name should not contain numbers</div>
                        </div>
                      </div>
                    </div>
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev4"
                          style="font-size: 20px; font-weight: bold;">University Name</label>
                        <input type="text" [(ngModel)]="institute.university" minlength="3" pattern="[a-zA-Z ]*"
                          class="form-control form-control-lg" #uname='ngModel' name="universityname"
                          placeholder="Enter University name" required />
                        <div *ngIf='uname.errors
                          && uname.touched' class="alert alert-danger">

                          <div *ngIf='uname.errors.required'>Provide university Name </div>
                          <div *ngIf="uname.errors?.minlength">
                            university must be at least 3 characters long.
                          </div>
                          <div *ngIf='uname.errors?.pattern'>university name should not contain numbers</div>
                        </div>

                      </div>
                    </div>
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev4"
                          style="font-size: 20px; font-weight: bold;">Address</label>
                        <input type="text" name="address" [(ngModel)]="institute.address"
                          class="form-control form-control-lg" #add='ngModel' minlength="5" pattern="[a-zA-Z, ]*"
                          placeholder="Enter Institute Address" required />

                        <div *ngIf='add.errors
                          && add.touched' class="alert alert-danger">
                          <div *ngIf='add.errors.required'>Provide university Name </div>
                          <div *ngIf="add.errors?.minlength">
                            university must be at least 3 characters long.
                          </div>
                          <div *ngIf='add.errors?.pattern'>university name should not contain numbers</div>
                        </div>

                      </div>
                    </div>


                  </div>
                </div>
                <div class="col-lg-6 text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Contact Details</h3>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev4"
                          style="font-size: 20px; font-weight: bold;">City</label>
                        <input type="text" name="institutecity" [(ngModel)]="institute.city"
                          class="form-control form-control-lg" #city='ngModel' placeholder="Enter city name"
                          minlength="3" pattern="[a-zA-Z ]*" required />
                        <div *ngIf='city.errors
                          && city.touched' class="alert alert-danger">
                          <div *ngIf='city.errors.required'>Provide city Name </div>
                          <div *ngIf="city.errors.minlength">
                            city must be at least 3 characters long.
                          </div>
                          <div *ngIf='city.errors?.pattern'>city name should not contain numbers</div>
                        </div>

                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <label style="font-size: 20px; font-weight: bold;">State</label>
                      <input readonly type="text" required name="state" [(ngModel)]="officer.state"  class="form-control"
                        class="form-control form-control-lg"/>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev4" style="font-size: 20px; font-weight: bold;">Year
                          Open</label>
                        <input type="number" name="yearopen" pattern="^[0-9]{4}$" [(ngModel)]="institute.yearOpen"
                          class="form-control form-control-lg" #yearopen='ngModel' placeholder="Enter Year" required />

                        <div *ngIf='yearopen.errors
                          && yearopen.touched' class="alert alert-danger">
                          <div *ngIf='yearopen.errors.required'>Provide year Open </div>
                          <div *ngIf='yearopen.errors.pattern'>Year should have four digit only </div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev4"
                          style="font-size: 20px; font-weight: bold;">Telephone</label>
                        <input type="number" name="telephone" [(ngModel)]="institute.telephone"
                          class="form-control form-control-lg" #telephone='ngModel' placeholder="Enter Telephone no."
                          pattern="^((\\+91-?)|0)?[0-9]{10}$" required />

                        <div *ngIf='telephone.errors && telephone.touched' class="alert alert-danger">
                          <div *ngIf="telephone.errors.required" class="text-danger">Provide Institute number </div>
                          <div *ngIf='telephone.errors?.pattern'>Phone number should consists of 10 digits</div>
                        </div>

                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev4"
                          style="font-size: 20px; font-weight: bold;">Principal Name</label>
                        <input type="text" name="principalname" [(ngModel)]="institute.principal"
                          class="form-control form-control-lg" #pname='ngModel' placeholder="Enter principal name"
                          minlength="3" pattern="[a-zA-Z ]*" required />

                        <div *ngIf='pname.errors
                          && pname.touched' class="alert alert-danger">
                          <div *ngIf='pname.errors.required'>Provide Principal Name </div>
                          <div *ngIf="pname.errors.minlength">
                            Principal Name must be at least 3 characters long.
                          </div>
                          <div *ngIf='pname.errors?.pattern'>Principal Name name should not contain numbers</div>
                        </div>

                      </div>
                    </div>

                    <button style="margin-top: 30%;background-color: #29465B;color: white; font-weight: bold;" type="submit"
                    class="btn btn-lg active btn-block" data-mdb-ripple-color="dark" [disabled]="instituteForm.invalid" >Submit</button>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>