
<section class="h-600" style="background-color: #eee;">
    <div class="container py-5 h-600">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
                <form #userForm="ngForm" (ngSubmit)='onUpdate(userForm.value)'>
              <div class="row g-0">
                <div class="col-lg-4" style="background-color: #B3C1DD;">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Student Info</h3>
                    <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label" style="font-size: 20px; font-weight: bold;" for="form3Examplev2">Student Id</label>
                            <input required minlength="1" type="number" [(ngModel)]="obj1.studentId" readonly #bookIdRef='ngModel'
                            name="studid" ngModel class="form-control form-control-lg"/>
     
                            </div>
                            </div>
                    
                    <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label" style="font-size: 20px; font-weight: bold;" for="form3Examplev2">Full Name</label>
                            <input type="text" placeholder="Enter your Full Name" minlength="3" pattern="[a-zA-Z ]*"
                            [(ngModel)]="obj1.fullName" #obj1name='ngModel' name="obj1Name" id="form3Examplev2" class="form-control form-control-lg" required />
    
                        <div *ngIf='obj1name.errors
                        && obj1name.touched' class="alert alert-danger">
                            <div *ngIf="obj1name.errors.required" class="text-danger">Provide obj1ent Name </div>
                            <div *ngIf="obj1name.errors.minlength" class="text-danger">Name must be at least 3 characters
                                long.</div>
                            <div *ngIf="obj1name.errors?.pattern" class="text-danger">Name can not contain numbers</div>
    
                        </div>
                        </div>
                      </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" style="font-size: 20px; font-weight: bold;">BirthDate</label>
                        <input type="date" min="01-01-1990" #bd="ngModel" max="01-01-2005" id="Birth" name="Birth Date"
                        [(ngModel)]="obj1.birthdate" class="form-control form-control-lg" />
                        <div *ngIf='bd.errors
                        && bd.touched' class="alert alert-danger">
                            <div *ngIf="bd.errors.required" class="text-danger">Provide Birthdate  </div>
                    </div>
                      </div>
                    </div>
                    <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label" style="font-size: 20px; font-weight: bold;">Gender</label>
                            <input  type="text" name="sex" ngModel placeholder="Enter Sex" class="form-control form-control-lg" [(ngModel)]="obj1.gender" readonly required />
                        </div>
                      </div>
                    <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label" style="font-size: 20px; font-weight: bold;">Mobile Number</label>
                            <input required minlength="12" pattern="^((\\+91-?)|0)?[0-9]{10}$" type="number" #mobile='ngModel'
                            placeholder="Enter your phone number" name="phonenumber" [(ngModel)]="obj1.mobile"
                           class="form-control form-control-lg" />
    
                        <div *ngIf='mobile.errors && mobile.touched' class="alert alert-danger">
                            <div *ngIf="mobile.errors.required" class="text-danger">Provide Student Mobile number </div>
    
    
                            <div *ngIf='mobile.errors?.pattern'>Phone number should consists of 10 digits</div>
    
                        </div>
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Email</label>
                            <input required type="email" readonly #emailv='ngModel' name="name" placeholder="Enter Email"
                            [(ngModel)]="obj1.email" class="form-control form-control-lg"
                            pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"/>
    
                            <div *ngIf='emailv.errors && emailv.touched' class="alert alert-danger">
                            
                              <div *ngIf='emailv.errors.required'> Provide email Id</div>
                           
                              <div *ngIf='emailv.errors?.pattern'>email should be valid</div>
                              
                          </div>
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label" style="font-size: 20px; font-weight: bold;">Address</label>
                            <input minlength="5" type="text" #obj1add='ngModel' name="Address" placeholder="Enter address"
                            [(ngModel)]="obj1.address" class="form-control form-control-lg" required />
    
                        <div *ngIf='obj1add.errors
                        && obj1add.touched' class="alert alert-danger">
                            <div *ngIf="obj1add.errors.required" class="text-danger">Provide address </div>
                            <div *ngIf="obj1add.errors.minlength" class="text-danger">Address must be at least 5 characters
                                long.</div>
                        </div>
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label" style="font-size: 20px; font-weight: bold;">City</label>

                            <input required minlength="3" type="text" #scity='ngModel' name="city" placeholder="Enter city"
                            [(ngModel)]="obj1.city" pattern="[a-zA-Z ]*" class="form-control form-control-lg" />
    
                        <div *ngIf='scity.errors
                        && scity.touched' class="alert alert-danger">
                            <div *ngIf="scity.errors.required" class="text-danger">Provide city </div>
                            <div *ngIf="scity.errors.minlength" class="text-danger">city must be at least 3 characters long.
                            </div>
                            <div *ngIf="scity.errors?.pattern" class="text-danger">City name can not contain number.</div>
                        </div>
                    </div>
                        </div>
                      </div>
  
                  </div>
            
                <div class="col-lg-4 text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Scholarship Info</h3>
                    <div class="mb-4 pb-2">
                    <div class="form-outline">
                        <label class="form-label" style="font-size: 20px; font-weight: bold;" for="form3Examplev2">Scholarship Id</label>
                        <input required minlength="1" type="number" [(ngModel)]="obj1.scholarship.scholarshipId" readonly #bookIdRef='ngModel'
                        name="scholarshipid" ngModel class="form-control form-control-lg">
        
 
                        </div>
                        </div>

                      <div class="mb-4 pb-2">
                            <label style="font-size: 20px; font-weight: bold;">Scholarship Scheme</label>
                            <input type="text" readonly ngModel name = "scheme" required [(ngModel)]="obj1.scholarship.scholarshipName"
                            class="form-control">

                        </div>
                        <div class="mb-4 pb-2">
                            <label style="font-size: 20px; font-weight: bold;">Field</label>
                            <input type="text" readonly required  ngModel name = "field" [(ngModel)]="obj1.scholarship.field" class="form-control">
    
                        </div>
                      <div class="mb-4 pb-2">
                        <label style="font-size: 20px; font-weight: bold;">Courses</label>
                        <input type="text" readonly required ngModel name = "course" [(ngModel)]="obj1.scholarship.course" class="form-control">

                    </div>

                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Course Year</label>
                            <input type="number" onKeyPress="if(this.value.length==4) return false;" name="user"
                            #Inname='ngModel' readonly placeholder="Enter course year" required
                            [(ngModel)]="obj1.scholarship.courseYear" class="form-control form-control-lg" />    
                        </div>
                      </div>
  
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">SSC Score</label>
                            <input required #ssc='ngModel' type="number" name="ssc" placeholder="Enter ssc marks"
                            [(ngModel)]="obj1.scholarship.sscScore" class="form-control form-control-lg" />
                            <div *ngIf='ssc.errors && ssc.touched' class="alert alert-danger">
                    
                    
                              <div *ngIf='ssc.errors.required'> Provide marks </div>
                          </div>
    
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">HSC Score</label>
                            <input required #hsc='ngModel' [(ngModel)]="obj1.scholarship.hscScore" class="form-control form-control-lg" type="number"
                            name="hsc" placeholder="Enter hsc marks" />
                            <div *ngIf='hsc.errors && hsc.touched' class="alert alert-danger">
                        
                              <div *ngIf='hsc.errors.required'> Provide marks </div>
      
                              </div>
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Family Income</label>
                            <input required #family='ngModel' [(ngModel)]="obj1.scholarship.familyIncome" class="form-control form-control-lg"
                            type="number" name="income" placeholder="Enter family income" />
                            <div *ngIf='family.errors && family.touched' class="alert alert-danger">
                              <div *ngIf='family.errors.required'> Provide Family Income </div>
                          
                          </div>
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Bank Name</label>
                            <input required minlength="3" #bankName='ngModel' [(ngModel)]="obj1.scholarship.bankName"
                            class="form-control form-control-lg" type="text" pattern="[a-zA-Z ]*" name="bankName"
                            placeholder="Enter Bank Name" />
    
                        <div *ngIf='bankName.errors
                        && bankName.touched' class="alert alert-danger">
                            <div *ngIf="bankName.errors.required" class="text-danger">Provide Bank name </div>
                            <div *ngIf="bankName.errors.minlength" class="text-danger">Bank name must be at least 3
                                characters long.</div>
                            <div *ngIf="bankName.errors?.pattern" class="text-danger">Bank name can not contain number</div>
                        </div>
    
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Account Number</label>
                            <input required type="number" [(ngModel)]="obj1.scholarship.accountNo" class="form-control form-control-lg" 
                            #BankId='ngModel' name="account" placeholder="Enter Bank Account Number" />
                            <div *ngIf='BankId.errors && BankId.touched' class="alert alert-danger">
                              <div *ngIf="BankId.errors.required" class="text-danger">Provide Bank account number  </div>
                              <div *ngIf="BankId.errors.minlength" class="text-danger">Account number must be at least 9 characters long.</div>
                              <div *ngIf="BankId.errors.maxlength" class="text-danger">Account number must be less than 18 digits</div>
                          </div>
                        </div>
                      </div>
                      <div class="mb-4 pb-2" >
                        <div class="form-outline">
                            <label class="form-label"
                                style="font-size: 20px; font-weight: bold;">IFSC Code</label>
                            <input readonly required [(ngModel)]="obj1.scholarship.bankIfsc" pattern="^[A-Z]{4}0[A-Z0-9]{6}$" 
                                class="form-control form-control-lg" #BankIFSC='ngModel'
                                type="text" name="ifsc code" placeholder="Enter IFSC code" />

                                <div *ngIf='BankIFSC.errors && BankIFSC.touched' class="alert alert-danger">
            
                                    <div *ngIf='BankIFSC.errors.required'> Provide 11 characters IFSC code </div>
                                    <div *ngIf="BankIFSC.errors?.pattern">
                                        IFSC code is not valid.
                                    </div>
                                    
                                    
                                </div>
                        </div>
                    </div>
                      <button style="margin-top: 30%;background-color: #29465B;color: white; font-weight: bold;" type="submit"
                      class="btn btn-lg active btn-block" data-mdb-ripple-color="dark" >Submit</button>
                  </div>
                  </div>
                  <div class="col-lg-4" style="background-color: #B3C1DD;">
                    <div class="p-5">
                      <h3 class="fw-normal mb-5">Institute Info</h3>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label" style="font-size: 20px; font-weight: bold;">Institute Name</label>
                            <input readonly type="text" [(ngModel)]="obj1.institute.name" class="form-control form-control-lg"  
                            name="instiname" placeholder="Enter institute code" required />
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Institute Code:</label>
                            <input readonly type="number" [(ngModel)]="obj1.institute.code" class="form-control form-control-lg"  
                            name="code" placeholder="Enter institute code" required />
    
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Category</label>
                            <input type="text" readonly required name="category" placeholder="Enter Category"
                            [(ngModel)]="obj1.institute.category" class="form-control form-control-lg" >
      
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Stream</label>
                            <input type="text" readonly required name="stream" placeholder="Enter stream"
                            [(ngModel)]="obj1.institute.type" class="form-control form-control-lg" >
    
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label" style="font-size: 20px; font-weight: bold;">University Name::</label>
                            <input readonly type="text" [(ngModel)]="obj1.institute.university"class="form-control form-control-lg" 
                            #Inname='ngModel' name="universityname" placeholder="Enter University name" required />
         
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Address:</label>
                            <input readonly type="text" name="instituteadd" [(ngModel)]="obj1.institute.address"
                            class="form-control form-control-lg"  #Inname='ngModel' placeholder="Enter Address" required />
      
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">City:</label>
                            <input readonly type="text" name="institutecity" [(ngModel)]="obj1.institute.city"
                            class="form-control form-control-lg"  #Inname='ngModel' placeholder="Enter City" required />
      
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">State</label>
                            <input readonly type="text" name="institutestate" [(ngModel)]="obj1.institute.state"
                            class="form-control form-control-lg"  #Inname='ngModel' placeholder="Enter state name" required />
    
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Year Open</label>
                            <input readonly type="number" name="yearopen" [(ngModel)]="obj1.institute.yearOpen"
                            class="form-control form-control-lg"  #Inname='ngModel' placeholder="Enter Year" required />
     
                        </div>
                      </div>

                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label"  style="font-size: 20px; font-weight: bold;">Telephone Number</label>
                            <input readonly type="number" name="telephone" [(ngModel)]="obj1.institute.telephone"
                            class="form-control form-control-lg"  #Inname='ngModel' placeholder="Enter Telephone Number" required />
     
                        </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <label class="form-label" for="form3Examplev4" style="font-size: 20px; font-weight: bold;">Principal Name</label>
                            <input readonly type="text" name="principalname" [(ngModel)]="obj1.institute.principal"
                            class="form-control form-control-lg"  #Inname='ngModel' placeholder="Enter principal name" required />
    
                        </div>
                      </div>
                     
                      </div>
</div>
                    </div>
              
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
